.site-footer {
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid var(--primary-color);
}

#social-wrapper {
    text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
    text-align: center;
}

.social-wrapper ul li {
    display: inline;
    margin: 0 5px;
}

.social-icon {
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .8;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */
    border-radius: 25px;
}

.social-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
}

.footer-nav p {
    text-align: center;
}