#root {
  width: 100%;
  --primary-color-dark: #05de87;
  --off-white-color: #efefef;
  //   --error-color: #fe4256;
}
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

:root {
  --primary-color: #06fc99;
  --primary-dark-color: #11d888;
  --primary-darker-color: #05955b;

  --error-color: #ff4141;
  --warning-color: #ffda58;

  --off-white-color: #f2f2f2;
  --semi-grey-color: #b3b3b3;
  --holy-grey-color: #8b8b8b;
  --just-grey-color: #717171;
  --dark-grey-color: #424242;
  --too-dark-color: #222222;
  --pitch-black-color: #111111;

  //colors

  --matrix-green: #06fc99;
  --matrix-green10: rgba(6, 252, 153, 0.1);
  --danger-red: #ef4444;
  --danger-red10: #ef44441a;
  --warning-yellow: #e8d211;
  --warning-yellow10: #e8d2111a;
  --almost-white: #efefef;
  --input-black: #222222;
}

:root {
  --primary-color: #06fc99;
  --primary-color-dark: #05de87;
  --off-white-color: #efefef;
  //   --error-color: #fe4256;

  //   scrollbar-color: var(--primary-color) #222;
  scroll-behavior: smooth;
  //   overflow-y: auto;/
  //   scrollbar-gutter: stable;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::selection {
  color: black;
  background: var(--primary-color);
}

.App {
  background: repeating-linear-gradient(
    0deg,
    #151515 0%,
    #151515 4px,
    #141a18 4px,
    #141a18 8px
  );
  background-repeat: repeat-y;
  //   text-shadow: 0 0 4px #2cffab, 0 0 20px var(--primary-color);
  display: flex;
  height: 100%;
  flex-direction: column;
  .main-body {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.toast-error {
  --toastify-color-progress-light: var(--error-color);
}
.toast-success {
  --toastify-color-progress-light: var(--primary-color);
}
